<section class="catalog-hero">
  <div class="catalog-hero-overlay">
    <div class="container catalog-hero-container">
      <div class="catalog-hero-text">
        <h1 class="catalog-hero-title"></h1>
        <div class="catalog-hero-rating"></div>
        <p class="catalog-hero-overview"></p>
        <div class="catalog-hero-buttons">
          <button type="button" class="catalog-hero-btn trailer">
            Watch trailer
          </button>
          <button type="button" class="catalog-hero-btn details">
            More details
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="module" src="./js/catalog-hero.js"></script>
