<section class="catalog" id="catalog">

  <section class="search-section">
    <form id="search-form" class="search-form">
      <input
        type="text"
        placeholder="Search"
        name="query"
        id="search-input"
        class="search-input"
      />
      <select id="year-select" class="year-select">
      <option value="">Year</option>
      </select>
      
      <button type="submit" class="search-btn">Ara</button>
    </form>
  </section>

  <!-- Film Listesi -->
  <section class="movie-list-section">
    <ul id="movie-list" class="movie-list">
      <!-- JS ile film kartları gelecek -->
    </ul>
    <p id="no-results" class="no-results-message" style="display: none;">
      Aradığınız kriterlere uygun film bulunamadı.
    </p>
  </section>

  <!-- Sayfalama (şimdilik boş) -->
  <section class="pagination-section" id="pagination"></section>
</section>

<script type="module" src="./js/catalog.js"></script>


<!-- masaüstü çalışması -->