<section class="library" id="library">
  <div class="library-placeholder" id="placeholder">
    <h2 class="library-text">
      OOPPS..<br />
      We are very sorry!<br />
      You don't have any movies at your library.
    </h2>

    <button type="button" class="library-btn search" id="go-to-catalog">
      Search movie
    </button>
  </div>

  <select id="genre-select">
    <option value="">Genre</option>
  </select>
  <section class="film-list" id="film-list"></section>
  <script type="module" src="./js/library.js"></script>
</section>
