<section class="upcoming" id="upcoming">
  <!-- <div class="container">
    <h3 class="upcoming-header">upcomming this month</h3>
    <img
      src="../img/upcomming-mobile.jpg"
      alt="upcoming image"
      srcset="../img/upcomming-mobile.jpg 1x, ../img/upcomming-mobile@2x.jpg 2x"
    />
    <div class="upcoming-content">
      <h2 class="upcoming-content-header">the lost city</h2>
      <div class="result">
        <div>
          <span>Release date</span>
          <span class="date">03.03.2023</span>
        </div>
        <div>
          <span>Vote / Votes</span>
          <span class="vote">
            <span>7.3</span>
            /
            <span>1260</span>
          </span>
        </div>
        <div>
          <span>Popularity</span>
          <span class="popularity">99.9</span>
        </div>
        <div>
          <span>Genre</span>
          <span class="genre">Comedy, action</span>
        </div>
      </div>
      <h3 class="upcoming-about-header">about</h3>
      <p class="upcoming-about">
        Reclusive author Loretta Sage writes about exotic places in her popular
        adventure novels that feature a handsome cover model named Alan. While
        on tour promoting her new book with Alan, Loretta gets kidnapped by an
        eccentric billionaire who hopes she can lead him to an ancient city's
        lost treasure from her latest story. Determined to prove he can be a
        hero in real life and not just on the pages of her books, Alan sets off
        to rescue her.
      </p>
      <button class="btn-primary">Add to my library</button>
    </div>
  </div> -->
</section>
