/*Mobil Cihaz Stilleri*/

.library-hero-bg {
  background-image: url('../img/Hero-Library-Mobile.jpg');
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 120%;
  background-color: black;
  width: 320px;
  height: 380px;
}

.library-hero-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin: 40px 51px 144px 20px;
}

@media (min-resolution: 2dppx) {
  .library-hero-bg {
    background-image: url('../img/Hero-Library-Mobile@2x.jpg');
  }
}

.library-hero-title {
  text-align: start;
}

.library-hero-subtitle {
  text-align: start;
  font-size: 14px;
}

/*Tablet Cihaz Stilleri*/

@media only screen and (min-width: 768px) {
  .library-hero-bg {
    background-image: url('../img/Hero-Library-Tablet.jpg');
    background-size: contain;
    background-position: 270% 110%;

    width: 768px;
    height: 372px;
  }

  .library-hero-content {
    margin: 62px 379px 118px 32px;
  }

  @media (min-resolution: 2dppx) {
    .library-hero-bg {
      background-image: url('../img/Hero-Library-Tablet@2x.jpg');
    }
  }
}

/*Desktop Cihaz Stilleri*/

@media only screen and (min-width: 1280px) {
  .library-hero-bg {
    width: 1280px;
    height: 720px;
    background-image: url('../img/Hero-Library-Desktop.jpg');
    background-size: 99% auto;

    background-position: 2000%;
  }

  @media (min-resolution: 2dppx) {
    .library-hero-bg {
      background-image: url('../img/Hero-Library-Desktop@2x.jpg');
    }
  }

  .library-hero-content {
    margin: 169px 699px 249px 117px;
  }

  .library-hero-subtitle {
    font-size: 16px;
  }
}
