/* Scroll Up Butonu için Mobil Cihaz Stilleri */

.scroll-up {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background: var(--primary-linear-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: var(--fw-bold);

  transition: background 0.4s ease-in-out, transform 0.3s ease-out,
    border 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-up:hover {
  background: transparent;
  border: 1px solid var(--orange-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Scroll Up Butonu için Tablet Cihaz Stilleri */
@media only screen and (min-width: 768px) {
  .scroll-up {
    bottom: 25px;
    right: 25px;
    padding: 18px 22px;
    font-size: 20px;
  }
}

/* Scroll Up Butonu için Masaüstü Cihaz Stilleri */
@media only screen and (min-width: 1280px) {
  .scroll-up {
    bottom: 30px;
    right: 30px;
    padding: 20px 25px;
    font-size: 22px;
  }
}
